* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  scroll-behavior: smooth;
}

:root {
  --primary-color: #111116;
  --secondary-color: #1f8ee9;
  --text-color: #eeeeee;
  --bg-color: #393e46;
  --hover-color: #2195f393;
}

body {
  background-color: var(--primary-color);
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--bg-color);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--secondary-color);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #2195f393;
}

.title {
  font-size: 4rem;
  color: var(--text-color);
}

.subtitle {
  text-align: center;
  color: var(--text-color);
  font-size: 2.5rem;
}

h3 {
  color: var(--secondary-color);
}

.btn {
  align-items: center;
  border-radius: 20px;
  border: 2px solid var(--bg-color);
  color: var(--secondary-color);
  cursor: pointer;
  display: flex;
  font-size: 1.5rem;
  font-weight: bold;
  height: 50px;
  justify-content: center;
  margin: 0px 10px;
  text-decoration: none;
  transition: border 1s;
  width: 190px;
  background-color: var(--primary-color);
}
hr {
  margin-top: 20px;
  height: 2px;
  background-color: var(--bg-color);
  border: none;
}

.btn:hover {
  border: 2px solid var(--secondary-color);
}

@media (max-width: 1100px) {
  .title {
    font-size: 3.5rem;
  }
}

@media (max-width: 685px) {
  .title {
    font-size: 3rem;
  }

  .subtitle {
    font-size: 1.9rem;
  }
}

.colorText {
  color: var(--secondary-color);
}